.gradient-custom {
    background: #161E87;

    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .social-icon {
      display: inline-block;
      transition: transform 0.4s ease;
    }

    .social-icon:hover {
      transform: scale(1.7);
    }

    .social-icon:hover i {
      color: blue !important;
    }

    #twitter-icon:hover i {
      color: aqua !important;
    }

    #google-icon:hover i {
      color: red !important;
    }
