<nav class="navbar navbar-expand-sm bg-light p-0">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <a class="navbar-brand" routerLink="/students">
        <img src="/assets/photos/logo.png">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <select class="form-select">
            <option>Currency ($)</option>
            <option>Currency (€)</option>
          </select>
        </li>
        <li class="nav-item">
          <select class="form-select">
            <option>English (EN)</option>
            <option>Arabic (AR)</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
