<!-- alert alert-primary w-100 m-auto  -->
<div class="d-flex justify-content-between ">
  <div class="mt-2">
    <!-- <a class="btn"><i routerLink="/" class="bi bi-people">Home</i></a> -->
    <!-- <button class="btn"><i routerLink="/" class="bi bi-people">Home</i></button>-->
    <a class="mx-4" routerLink="/" >
      <img src="/assets/photos/logo.png">
    </a>

    <!-- <span class="mat-mdc-button-touch-target"></span> -->

  </div>
  <div class="justify-content-end mt-3">
    <a class="btn">Packags</a>
    <a class="btn">Offers</a>
    <a class="btn">Contact Us</a>
    <select class="alert alert-primary border-0 text-dark">
      <option >Currency ($)</option>
      <option >Currency (€)</option>
    </select>
    <select class="alert alert-primary border-0 text-dark">
      <option >English (EN)</option>
      <option >Arabic (AR)</option>
    </select>
    <a class="btn" routerLink="/login">Sign In</a>
    <a class="btn" routerLink="/register">Sign Up</a>
  </div>
  <!-- <a routerLink="/addstudent" class="btn">ADD</a> -->
</div>
