*{
  background-color:#60F3FF;
  /* height: 60px; */
}
a:hover ,select:hover{
  background-color:rgb(196, 196, 196);
  cursor:pointer;
}

img{
  /* width:3rm; */
  height: 70px;
  border-radius: 7px;
}
