#header{
  background: linear-gradient(to right, rgb(6, 92, 168), rgba(37, 117, 252, 1))
}

a{
  color: black;
  text-decoration: none;
  /* cursor:pointer; */
}
a:hover{
  background-color:rgb(196, 196, 196);
  color: black;
  /* cursor:pointer; */
}



.my-modal-container {
  z-index: 9999; /* Highest z-index value for the modal */
  position: fixed;
  top: 50%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%);
  /* Add additional styling properties as desired */

}

.my-modal-backdrop {
  z-index: 9998; /* Z-index value lower than the modal container, but still high */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as desired */
  /* Add additional styling properties as desired */
}

.table-header {
  background-color: #343a40;
  color: #fff;
}

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */

}

@media (max-width: 768px) {
  /* Adjust table layout for smaller screens */
  .responsive-table {
    width: 100%;
  }

  .responsive-table thead {
    display: none; /* Hide table header on small screens */
  }

  .responsive-table td,
  .responsive-table th {
    display: block;
    text-align: left;
  }

  .responsive-table td:before {
    /* Add data labels for each table cell */
    content: attr(data-label);
    font-weight: bold;
  }
}


.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}



.alertify .ajs-header {
  background-color: #007bff;
  color: #fff;
}

.alertify .ajs-body {
  color: #000;
}

.alertify .ajs-footer .ajs-buttons .ajs-yes {
  background-color: #007bff;
  color: #fff;
}

.alertify .ajs-footer .ajs-buttons .ajs-no {
  background-color: #dc3545;
  color: #fff;
}
html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee9f87, #eaa7c1, #23a6d5, #924fef);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
