
<div class="container d-flex justify-content-center row border">

  <div class="col-12 text-dark text-center alert alert-white border-bottom">
    <h2>Photos</h2>
  </div>
  <div class="row w-50 mt-5 border" *ngIf="photoData else falseblock">
    <div class="col-lg-3 col-3 mt-5" *ngFor="let item of photoData">
      <div class="card text-white mb-3 d-flex justify-content-center shadow p" style="max-width: 10rem;">
        <a target="_blank" href="{{item.url}}"><img style="width: 100%" src="{{item.thumbnailUrl}}" /></a>
      </div>
    </div>
  </div>
</div>

<ng-template #falseblock>
  Loading...
</ng-template>

